<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.desire.dao.IUserDao">

    <resultMap id="NodeResultMap" type="com.wangsheng.SpringCrawler.entity.Node">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="userName" jdbcType="VARCHAR" property="userName" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="start" jdbcType="INTEGER" property="start" />
        <result column="foundTime" jdbcType="VARCHAR" property="foundTime" />
    </resultMap>

    <select id="getAllNodes" resultType="com.wangsheng.SpringCrawler.entity.Node">
        select * from d_nodes
    </select>
</mapper>